<% extend('../layouts/dashboard_layout') %>

    <div class="container">
        <input type="search" name="" id="" class="mb-3 form-control" style="width:20%" placeholder="Search...">
        <table class="table border border-secondary">
            <thead class="thead-dark">
                <tr>

                    <th scope="col"> 時間 </th>
                    <th scope="col"> 書 </th>
                    <th scope="col"> 問題/回覆 </th>
                    <th scope="col">
                        <div class="dropdown ">
                            <a class="bg-dark btn btn-sm btn-secondary border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                狀態
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">未預約</a>
                                <a class="dropdown-item" href="#">已預約</a>
                                <a class="dropdown-item" href="#">已售出</a>
                                <a class="dropdown-item" href="#">已取消</a>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (var prop in response_list) { %>
                    <tr>
                        <td><%- moment(response_list[prop].answerTime * 1000).format('YYYY / MM / DD') %></td>
                        <td><%- response_list[prop].book%></td>
                        <td><a href="/dashboard/qanda/<%- response_list[prop].rid %>" target="_blank"><button class="btn btn-sm btn-outline-warning"> Go !
                                </button></a> </td>
                        <td class="<% if(response_list[prop].status == 'no') { %> text-info <% } %> 
                                <% if(response_list[prop].status == 'canceled' ) { %> text-secondary <% } %>
                                <% if(response_list[prop].status == 'reserved' ) { %> text-success <% } %> 
                                <% if(response_list[prop].status == 'sold') { %> text-danger <% } %> "> 
                                <b><%- response_list[prop].status %></b> 
                        </td>

                    </tr>
                <% } %>
            </tbody>
        </table>
        <!-- 做分頁 : Pagination -->
        <nav class="my-4" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item <% if(!page.hasPre){ %> disabled <% } %> ">
                    <a class="page-link" href="/dashboard/historical?page=<%- page.currentPage - 1 %>" tabindex="-1">Previous</a>
                </li>
        
                <% for(var i = 1; i < page.totalPages + 1; i++) { %>
                <li class="page-item <% if(i == page.currentPage){ %> active <% } %> ">
                    <a class="page-link" href="/dashboard/historical?page=<%- i %>">
                        <%- i %>
                    </a>
                </li>
                <% } %>
                <li class="page-item <% if(!page.hasNext){ %>disabled<% } %>">
                    <a class="page-link" href="/dashboard/historical?page=<%- page.currentPage + 1 %>">Next</a>
                </li>
            </ul>
        </nav>
    </div>

