<% extend('../layouts/dashboard_layout') %>

    <div class="container">
        <input type="search" name="" id="" class="mb-3 form-control" style="width:20%" placeholder="Search...">
        <table class="table border border-secondary">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> 序號 </th>
                    <th scope="col"> 時間 </th>
                    <th scope="col"> 預約到期 </th>
                    <th scope="col"> 書 </th>
                    <th scope="col"> 預約 </th>
                    <th scope="col"> 賣出 </th>
                    <th scope="col"> 問題/回覆 </th>
                </tr>
            </thead>
            
            <tbody>
                <% for(var prop in reserved_response_list) { %>
                <tr>
                    <th scope="row"> - <%- reserved_response_list[prop].Serial_number %> </th>
                    <td> <%- moment(reserved_response_list[prop].answerTime * 1000).format('YYYY / MM / DD') %> </td>
                    <td> <%- moment(reserved_response_list[prop].reserved_deadline * 1000).format('YYYY / MM / DD') %> </td>
                    <td> <%- reserved_response_list[prop].book %> </td>
                    <td class="text-success"> <b><%- reserved_response_list[prop].status %></b> </td>
                    <td><button class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#checkout1">賣出
                        </button></td>
                    <td><a href="/dashboard/qanda/<%- reserved_response_list[prop].rid %>" target="_blank"><button class="btn btn-sm btn-outline-warning"> Go ! </button></a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    
    </div>

    <!-- Modal1 -->
    <div class="modal fade bd-example-modal-lg" id="checkout1" tabindex="-1" role="dialog" aria-labelledby="checkout1Title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="checkout1Title">結帳確認</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="container">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <small>序號</small>
                                <h4 class="mt-3">-123456</h4>
                            </div>
                            <div class="col-6">
                                <small>書</small>
                                <h4 class="mt-3">優秀的綿羊</h4>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <form>
                                    <div class="form-group">
                                        <label for="price" class="col-form-label">出售金額</label>
                                        <input type="text" class="form-control border-top-0 border-right-0 border-left-0"
                                            id="price">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-warning btn-lg px-4">結帳</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

